
:root {
  --primary: #00a9ff;
  --bg: #fff;
  --biru-tua: #022030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.about-body {
  font-family: "Poppins", sans-serif;
}

/* About Page */
.about-page {
  padding: 2rem 7% 1.4rem;
}

.about-page h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: var(--biru-tua);
}

.about-page h2 span {
  color: var(--primary);
}

.about-page .row .about-img img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  object-position: center;
}

.about-page .row .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--biru-tua);
}

.about-page .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

.about-page .row-dua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-page .row-dua .about-card {
  text-align: center;
  margin: 4rem;
}

.about-page .row-dua .about-card img {
  border-radius: 50%;
  height: 10rem;
}

.about-page .row-dua .about-card .about-card-tittle {
  margin-top: 1rem auto 0.1rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}


#portfolio {
  font-family: "Poppins", sans-serif;
}

.jenis-layanan,
.diskon {
  background-color: #00aaff3b;
}
.img-layanan-set {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card-text-testimoni {
  font-size: 15px;
}

.header-blog {
   height: 80vh;
   position: relative;
 }
 
 .header-blog::before {
   background-image: url("/images/bg-blog.jpg");
   height: 75vh;
   width: 100%;
   z-index: -1;
   content: "";
   position: absolute;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

#text-banner h3 {
   font-family: 'Luckiest Guy', cursive;
   font-weight: 800;
   font-size: 80px;
   color: #a7e1fe;
   -webkit-text-stroke: 0.2px black;
}

#text-banner h5 {
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 700;
   font-size: 30px;
}

.content-blog .blog-images {
   width: 100%;
   height: 15rem;
 }
.content-blog .blog-imagess {
   width: 100%;
   height: 20rem;
 }

 .content-blog .card {
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); border-radius: 5px;
 }
 
 .content-blog .blog-images img {
   width: 100%;
   height: 100%;
   border-radius: 6px;
 }
 .content-blog .blog-imagess img {
   width: 100%;
   height: 100%;
   border-radius: 6px;
 }

 p .text-muted{
   font-family: 'Poppins', sans-serif;
 }

 .btn-read {
   display: block;
   text-align: center;
   align-items: center;
   font-size: 18px;
   color: #000;
   font-size: 12px;
   font-weight: 600;
   border: 1px solid black;
   border-radius: 25px;
   padding: 10px 30px; 
}

.btn-read {
   display: block;
   text-align: center;
   text-decoration: none;
   font-size: 14px;
   color: #000;
   font-weight: 600;
   border: 1px solid black;
   border-radius: 25px;
   padding: 10px 30px;
   transition: background-color 0.3s, color 0.3s; 
}

.btn-read:hover {
   background-color: black;
   color: white;
}

.todos-body{
  font-family: 'Poppins', sans-serif;
  background-color: #E3FDFD;
}

.card-todo{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

