:root {
  --primary: #00a9ff;
  --bg: #fff;
  --biru-tua: #022030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* About Page */
.about-page {
  padding: 8rem 7% 1.4rem;
}

.about-page h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: var(--biru-tua);
}

.about-page h2 span {
  color: var(--primary);
}

.about-page .row .about-img img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  object-position: center;
}

.about-page .row .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--biru-tua);
}

.about-page .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

.about-page .row-dua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-page .row-dua .about-card {
  text-align: center;
  margin: 4rem;
}

.about-page .row-dua .about-card img {
  border-radius: 50%;
  height: 10rem;
}

.about-page .row-dua .about-card .about-card-tittle {
  margin-top: 1rem auto 0.1rem;
}

/* Navbar */
.navbar-LP {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--primary);
  border-bottom: 1px solid #022030;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-LP .navbar-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--bg);
  text-decoration: none;
}

.navbar-LP .navbar-logo span {
  color: #022030;
}

.navbar-LP .navbar-samping {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar-LP .navbar-samping a:hover {
  color: var(--biru-tua);
}

#hamburger-menu {
  display: none;
}

.navbar-LP .navbar-menu a {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
  color: var(--bg);
  text-decoration: none;
}

.navbar-LP .navbar-menu a:hover {
  color: var(--biru-tua);
}

.navbar-LP .navbar-menu a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--biru-tua);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar-LP .navbar-menu a:hover:after {
  transform: scaleX(1);
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/Laundrybg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(205, 205, 212) 3%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6 rem;
  color: #fff;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  text-decoration: none;
}

.hero .content .cta :hover {
  color: var(--biru-tua);
}

footer {
  background-color: #00a9ff;
  color: white;
  font-weight: bold;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar-LP .navbar-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar-LP .navbar-menu.active {
    right: 0;
  }

  .navbar-LP .navbar-menu a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar-LP .navbar-menu a::after {
    transform-origin: 0 0;
  }

  .navbar-LP .navbar-menu a:hover:after {
    transform: scaleX(0.2);
  }
}
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* Portofolio */
.jenis-layanan,
.diskon {
  background-color: #00aaff3b;
}
.img-layanan-set {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card-text-testimoni {
  font-size: 15px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.blog-card {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.2s ease;
}

.blog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 0 20px #00a9ff;
}

.blog-img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
}

.blog-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-date {
  font-size: 0.875rem;
  color: #777;
}

.blog-laundry {
  margin-bottom: 2rem;
}

.btn-read {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 30px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-read:hover {
  background-color: black;
  color: white;
}

.todos-body {
  /* font-family: "Poppins", sans-serif; */
  background-color: #e3fdfd;
}

.card-todo {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.blog-cardd {
  border: 1px solid #000000;
  border-radius: 20px;
  margin-top: 100px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.5s ease;
}

.blog-cardd:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 0 10px #00a9ff;
}

#contact-body {
  background-color: #e3fdfd;
}
